{% extends 'base.html.twig' %}

{% block title %}Consultant Dashboard{% endblock %}

{% block body %}
<div>
    <h1>Mes demandes d'approbation</h1>
    <h2>Comptes à approuver</h2>
    <table>
        <thead>
        <tr>
            <th>Rôle</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {%  for user in users %}
            <tr>
                <td>
                    {% for role in user.roles %}
                        {{ role|replace({'ROLE_':''})|capitalize }}
                    {% endfor %}
                </td>
                <td>{{ user.email }}</td>
                <td>
                    <button><a href="{{ path('app_consultant_approve_user', { 'id' : user.id }) }}">Approuver</a></button>
                    <button><a href="{{ path('app_consultant_disapprove_user', { 'id' : user.id }) }}">Refuser</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun utilisateur à approuver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
