{% extends 'base.html.twig' %}

{% block title %}Consultant Dashboard{% endblock %}

{% block header %}
    {% include('header/header-consultant.html.twig') %}
{% endblock %}

{% block body %}
<div class="m-5">
    <h1 class="text-center">Mes demandes d'approbation</h1>
    <h2>Comptes à approuver ({{ users|length }})</h2>
    {% include('consultant/_list-users-to-approve.html.twig') %}
    <h2>Offres à approuver ({{ jobOffers|length }}) </h2>
    {% include('consultant/_list-offers-to-approve.html.twig') %}
    <h2>Candidatures à approuver ({{ jobApplications|length }})</h2>
    {% include('consultant/_list-applications-to-approve.html.twig') %}
</div>
{% endblock %}
