{% extends 'base.html.twig' %}

{% block title %}Recruteur Dashboard{% endblock %}

{% block header %}
    {% include('header/header-recruiter.html.twig') %}
{% endblock %}

{% block body %}
<div class="m-5">
    <h1 class="text-center justify-content-end">
        Mes annonces ({{ myJobOffers|length}})
        <div class="text-end">
            <a class="btn btn-primary" href="{{ path('app_recruiter_post_job_offer') }}">Publier une nouvelle offre</a>
        </div>
    </h1>
    {% include('recruiter/_list-offers.html.twig') %}
</div>
{% endblock %}
