{% extends 'base.html.twig' %}

{% block title %}Recruteur - Mon Profil{% endblock %}

{% block header %}
    {% include('header/header-recruiter.html.twig') %}
{% endblock %}

{% block body %}
<div class="text-center my-5">
    <h1>Mon profil Recruteur</h1>
    <div class="mt-5">
        <p><b>Email : </b>{{ app.user.email }}</p>
        {% if app.user.company %}
            <p><b>Entreprise : </b>{{ app.user.company }}</p>
        {% else %}
            <p><b>Entreprise : </b><em>NON RENSEIGNÉE</em></p>
        {% endif %}
        {% if app.user.adress %}
            <p><b>Adresse : </b>{{ app.user.adress }}</p>
        {% else %}
            <p><b>Adresse : </b><em>NON RENSEIGNÉE</em></p>
        {% endif %}
        <a class="btn btn-primary" href="{{ path('app_recruiter_edit_profile') }}">Modifier le profil</a>
    </div>
</div>
{% endblock %}
