{% extends 'base.html.twig' %}

{% block title %}Candidat Dashboard{% endblock %}

{% block header %}
    {% include('header/header-candidate.html.twig') %}
{% endblock %}

{% block body %}
<div class="m-5">
    <h1 class="text-center justify-content-end">Liste des annonces ({{ jobOffers|length }})</h1>
    {% include('candidate/_list-offers.html.twig') %}
</div>
{% endblock %}
