{% extends 'base.html.twig' %}

{% block title %}Candidat Dashboard{% endblock %}

{% block body %}
    <div>
        <h1>Liste des annonces</h1>
        {% for jobOffer in jobOffers %}
            <div>
                {{ jobOffer.title }}
                {{ jobOffer.location }}
                {{ jobOffer.description }}
                {% if jobOffer.hasApplied %}
                    <button disabled>Déjà postulé</button>
                {% else %}
                    <button><a href="{{ path('app_candidate_apply_job_offer', { 'id' : jobOffer.id }) }}">Postuler</a></button>
                {% endif %}
            </div>
        {% else %}
            <div>Aucune annonce publiée</div>
        {% endfor %}
    </div>
{% endblock %}
